.event-container[b-a0skiy8ny4]{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.event-item[b-a0skiy8ny4] {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width:75%;
    margin: 0 auto 1rem auto;
    
}

    .event-item:hover .overlay[b-a0skiy8ny4] {
        opacity: 1;
    }
    .event-item:hover .event-text[b-a0skiy8ny4]{
        opacity: 0.3;
    }

.event-image[b-a0skiy8ny4] {
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.event-text[b-a0skiy8ny4] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2rem;
}

.event-name[b-a0skiy8ny4] {
    margin: 0;
}

.event-description[b-a0skiy8ny4] {
    margin: 0;
}

.overlay[b-a0skiy8ny4] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.book-ticket[b-a0skiy8ny4] {
    font-size: 1.5rem;
    color: white;
}


/*Below is css for the search box*/
:root[b-a0skiy8ny4] {
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
}

.form__group[b-a0skiy8ny4] {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    margin: auto;
    width: 20%;
    margin-bottom: 1rem;
}

.form__field[b-a0skiy8ny4] {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
    border-bottom: 1px solid wheat;
}

    .form__field[b-a0skiy8ny4]::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label[b-a0skiy8ny4] {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }

.form__label[b-a0skiy8ny4] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
    width: 100%;
    text-align:center;
}

.form__field:focus ~ .form__label[b-a0skiy8ny4] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    text-align: center;
}

.form__field:focus[b-a0skiy8ny4] {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
}

.form__field:required[b-a0skiy8ny4],
.form__field:invalid[b-a0skiy8ny4] {
    box-shadow: none;
}
