html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
      background-color: #c2b093
}

p{
    padding: 5px;
}

.btn{
    margin-top:1rem;
    margin-bottom:0.5rem;
}