@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext?.Session;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoolEvents</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoolEvents.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CoolEvents</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                @if (session != null)
                {
                    @if (session.GetString("IsAuthenticated") == "true")
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                            <ul class="navbar-nav d-sm-inline-flex flex-grow-1 justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                                </li>
                                @if (session.GetString("IsAdmin") == "true")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users Control</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Manage Tickets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        // Get the current controller and action
                        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
                        string actionName = ViewContext.RouteData.Values["action"].ToString();
                        // Check if the user is not on the Login page or the Register page
                        if (actionName == "Register")
                        {
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                                <ul class="navbar-nav d-sm-inline-flex flex-grow-1 justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else if(actionName == "Login")
                        {
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                                <ul class="navbar-nav d-sm-inline-flex flex-grow-1 justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CoolEvents - <a asp-area="" asp-controller="Home" asp-action="Home">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
